@import "base.css";
@import "../fonts/font-awesome.min.css";

body, html {
  width: 100%;
  font-size: .6rem;
  font-family: helvetica, Arial, "微软雅黑";
  line-height: 1.4;
}

body {
  background-color: #f0f0f0;
}

.menu-open {

  transform: translateX(13.5rem);
}

.yoho-page {
  position: relative;
  background-color: #fff;
}

.boys-header {
  background-image: linear-gradient(#323232, #414141);

}

.girls-header {

}

header {
  .home-header {
    position: relative;
    box-sizing: border-box;
    font-size: 1rem;
    span {
      display: block;
      height: 2.25rem;
      line-height: 2.25rem;
      text-align: center;
      color: #fff;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    span:nth-child(1) {
      width: 2.3875rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    span:nth-child(2) {
      width: 5.2rem;
      margin: 0 auto;
    }
    .logo {
      padding-top: 0.5rem;
      background: url('../img/yohologo02.png-v15703d43f40.png') no-repeat;
      -webkit-background-size: 100%;
      background-size: 100%;
      background-origin: content-box;
      background-clip: content-box;
    }
    .search {

    }

    a {
      position: absolute;
      right: 0;
      top: 0;
      width: 2.25rem;
      height: 2.25rem;
      > span {
        position: absolute;
        right: 0;
        top: 0;
        width: 2.25rem;
      }
    }
  }
}

#slide {
  position: relative;
  overflow: hidden;
  ul:first-child {
    width: 1000%;
    transform: translateX(-10%);
    li {
      width: 10%;
      float: left;
      > a > img {
        width: 100%;
        display: block;
      }
    }
  }
  ul:last-child {
    position: absolute;
    left: 50%;
    margin-left: -3.2rem;
    bottom: 0.5rem;
    > li {
      width: 0.3rem;
      height: 0.3rem;
      margin-left: 0.5rem;
      border-radius: 50%;
      float: left;
      background-color: rgba(255, 255, 255, 0.5);
    }
    > li.active {
      background-color: rgba(255, 255, 255, 1);
    }
  }
}

.icons-wrapper {
  height: 9rem;
  box-sizing: border-box;
  padding: 0.75rem 0 0.4rem;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
  .icons-list {
    .icons-item {
      float: left;
      margin-bottom: 0.25rem;
      .imagebar {
        display: block;
        width: 2.45rem;
        height: 2.45rem;
        margin: 0 0.375rem;
        img {
          display: block;
          height: 100%;
        }
      }
      .linkbar {
        color: #444;
        font-size: 0.6rem;
        text-align: center;
        line-height: 1.1rem;
        display: block;
      }
    }
  }
}

#product {
  li {
    float: left;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    width: 4rem;
    height: 4.35rem;
    box-sizing: border-box;
    background-color: #fff;
  }
  .banner-center {
    height: 5rem;
    box-sizing: border-box;
    border: 1px solid #c0c0c0;
    margin-top: 0.75rem;
  }

  .floor-header {
    margin: 0 0.75rem;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    background-color: #fff;
    color: #b1b1b1;
    font-size: 0.75rem;
    h2 {
      width: 14.4rem;
      height: 1.75rem;
      line-height: 1.75rem;
      text-align: center;

    }
  }

  .hot-category {
    margin-top: 0.75rem;
    border-bottom: 1px solid #e0e0e0;
    .category-list {
      li > a {
        display: block;
        img {
        }
      }
    }
  }

  .hot-brands {
    margin-top: 0.75rem;
    border-bottom: 1px solid #e0e0e0;
    .brands {
      li.more {
        width: 8rem;
        a > img {
          width: 100%;
        }

      }
      > li > a {
        display: block;
        .brand-logo {
          display: block;
          height: 3.2rem;
        }
        .brand-name {
          line-height: 1.1rem;
          font-size: 0.45rem;
          color: #babac2;
          text-align: center;
        }
      }
    }
  }
  .floor-header-more {
    border-top: 1px solid #e0e0e0;
    margin-top: 0.725rem;
    color: #444;
    position: relative;
    background: #fff;
    font-size: 0.8rem;

    h2 {
      height: 2.45rem;
      line-height: 2.45rem;
      text-align: center;
    }
    a {
      position: absolute;
      top: 50%;
      right: 0.75rem;
      font-size: 1.25rem;
      margin-top: -0.625rem;

    }
  }
  .goods-category {
    background: #fff;
    .category-swiper {
      height: 10rem;
      a > img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }
    }
    .category-list > li {
      width: 4.775rem;
      height: 4.775rem;
      &:first-child {
        width: 6.45rem;
        height: 9.55rem;
        border-left: none;
      }
    }
  }
}

.maybe-like {
  margin-top: 0.75rem;
  background: #fff;
  padding-left: .375rem;
  border-top: 1px solid #ccc;
  p {
    height: 2.6rem;
    font-size: .95rem;
    line-height: 2.6rem;
    text-align: center;
    color: #dadada;
  }
}

.footer-tab {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  padding-top: .5rem;
  box-sizing: border-box;
  background: #fff;
  border-top: 1px solid #b0b0b0;
  a {
    display: block;
    flex: 1;
    text-align: center;
    .tab-icon {
      font-size: 1rem;
      line-height: 1;
    }
    .tab-name {
      margin-top: .25rem;
      font-size: .5rem;
      line-height: 1;
    }
  }
}

footer {
  .back-to-top {
    padding: 0 0.75rem;
    height: 3rem;
    line-height: 3rem;
    > a {
      float: right;
      position: relative;
      font-size: 0.6rem;
      > span {
        padding-right: 0.6rem;
      }
      > .icon-top {
        position: absolute;
        top: 1.25rem;
        right: -0.05rem;
      }
    }
  }
  .copyright {
    border-top: 1px solid #ccc;
    background-color: #eee;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 0.6rem;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  background: #000;
  opacity: 0.3;
  transition: opacity 1s;
  z-index: 4;
}

.side-nav {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 13.5rem;
  background: #f0f0f0;
  transition: all .3s;
  > ul > li {
    height: 2.2rem;
    line-height: 2.2rem;
    border-bottom: 1px solid #e0e0e0;
    a {
      position: relative;
      display: block;
      height: 100%;
      padding-left: 2.75rem;
      color: #444;
      .nav-img {
        position: absolute;
        left: 0.75rem;
        top: 0.6rem;
        width: 1.2rem;
        height: 1.2rem;
        background-size: 1.2rem 1.2rem;
      }
      em {
        font-size: 0.9rem;
        font-weight: 700;
      }
      .title {
        display: inline-block;
        font-size: .9rem;
        vertical-align: bottom;
        padding-left: .5rem;
        transform: scale(.5);
      }
    }
  }
}

.on {
  display: block;
}

//������
#seachInput {
  padding: .35rem .75rem;
  background: #f8f8f8;
  form {
    position: relative;
    > .fa-search {
      position: absolute;
      font-size: .6rem;
      top: .45rem;
      left: .5rem;
      color: #B3B3B3;
    }
    > .buriedpoint {
      box-sizing: border-box;
      padding-left: 1.3rem;
      padding-right: 1.7rem;
      height: 1.5rem;
      width: 85%;
      border-radius: .75rem;
      background: #fff;
      border: none;
    }
    > span {
      position: absolute;
      top: .1rem;
      right: -.2rem;
      border: none;
      background: transparent;
      font-size: .8rem;
      height: 1.5rem;
      line-height: 1.5rem;
      color: #666;
    }
  }
}

#goodListPage {
  > .nav-list {
    border-top: .05rem solid #fff;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    .cur {
      display: inline-block;
      transform: scale(1.5);

    }
    > li {
      flex: 1;
      height: 1.65rem;
      line-height: 1.65rem;
      text-align: center;
      font-size: 0.7rem;
      > a {
        display: block;
        width: 100%;
        height: 100%;
        > .icon {
          position: relative;
          > .fa-angle-up {
            position: absolute;
            top: -0.15rem;
          }
          > .fa-angle-down {
            position: absolute;
            top: 0.25rem;
          }
          > .fa-sort-down {
            position: absolute;
            top: -0.25rem;
            font-size: 1rem;
          }
          .click {
            color: #999;

          }

        }
      }
    }
    > .active > a {
      color: #000;

    }
  }
}
#goodsContainer{
  .new-goods{
    width: 50%;
    float: left;
    text-align:center;
    box-sizing:border-box;
    padding: .25rem .375rem 1rem;
    a{
      display: block;
      width: 100%;
      color:#000;
      >.new>img{
        width: 100%;
      }
      >.discription{
        margin: .375rem 0 .25rem;
      }

      >.price{
        .now{
          color:red;
        }
        >.del{
          color:#999;
          text-decoration: line-through;
        }
        >.hide {
          display: none;
        }
    }
    }
  }
}

#cart {
  position: fixed;
  width: 2.2rem;
  height: 2.2rem;
  line-height: 2.2rem;
  right: .75rem;
  bottom: 3.5rem;
  z-index: 8;
  border-radius:50%;
  background-color: rgba(0, 0, 0, 0.3);
  text-align:center;
  font-size: 0.9rem;

  a{
    display: block;
    width: 100%;
    height: 100%;
    >.fa-shopping-cart{
      color:#fff;
    }

  }
}
